
<div class="card flex justify-center">
    <p-toast position="top-left" key="tl" />
    <p-toast position="bottom-left" key="bl" />
    <p-toast position="bottom-right" key="br" />
    <div class="flex flex-wrap gap-2">
        <p-button pRipple (click)="showTopLeft()" label="Mensaje" />
        <p-button pRipple (click)="showBottomLeft()" label="Información" />
        <p-button pRipple (click)="showBottomRight()" label="Guardar" />
    </div>
</div>

<app-navbar><app-navbar>
   
<router-outlet />
